<form action="/edit-post/<%= post.id %>" method="post" class="new-post_form">
  <div>
    <input type="text" name="title" placeholder="Título do Post" value="<%= post.title %>" class="new-post_title" />
    <textarea name="content" cols="30" rows="17" placeholder="Conteúdo do Post" class="new-post_content"><%= post.content %></textarea>
    <% if (isInvalid) { %>
    <div class="validation-error">
      <p>Todos os campos são obrigatórios.</p>
    </div>
    <% } %>
  </div>
  <button class="new-post_submit-btn">Editar Post</button>
</form>
