<header class="header">
  <h1 class="header_title">Let's Blog</h1>
  
    <% if (role === "home") { %>  
      <a href="/log-in" class="header_link">
        <span class="material-symbols-outlined">login</span>
        Log In
      </a>
    <% } %>

    <% if (role === "post" || role === "log-in" || role === "sign-up" || role === "new-post") { %>
      <a href="/" class="header_link">
        <span class="material-symbols-outlined">arrow_back</span>
        Voltar
      </a>
  <% } %>

</header>