<header class="header">
  <h1 class="header_title">Let's Blog</h1>
  <div class="header_login">
    <span class="material-symbols-outlined login-icon">login</span>
    <a href="#" class="login_link">Log In</a>
  </div>
  <span class="material-symbols-outlined back-icon">arrow_back</span>
</header>