<div class="login_container">
  <h2 class="login_title">Faça seu login</h2>
  <input type="text" placeholder="E-mail" class="login_input">
  <input type="text" placeholder="Senha" class="login_input">
  <button class="login_button">Entrar</button>
  <a href="/sign-up" class="new-account-link">
    <span class="material-symbols-outlined">person_add</span>
    Criar conta
  </a>
</div>
