<div class="new-post_container">
  <form>
    <input type="text" name="" id="" placeholder="Título do Post" class="new-post_title">
    <textarea name="" id="" cols="30" rows="24" placeholder="Conteúdo do Post" class="new-post_content"></textarea>
    <button class="new-post_submit-btn">Novo Post</button>
  </form>
</div>