<article class="post">
  <h2 class="post_title"><%= post.title %></h2>
  <p class="post_author">
    Por 
    <strong><%= post.author %> </strong>
     em 
    <span><%= post.created_date %></span>
  </p>
  <p class="post_content"><%= post.content %></p>
</article>