<div class="signup_container">
  <h2 class="signup_title">Cadastre-se Para Começar a Postar</h2>
  <input type="text" placeholder="E-mail" class="signup_input">
  <input type="text" placeholder="Nome Completo" class="signup_input">
  <input type="password" placeholder="Senha" class="signup_input">
  <input type="password" placeholder="Confirmar Senha" class="signup_input">
  <button class="signup_button">Cadastrar</button>
</div>
