<div class="signup_container">
  <div class="signup_title-container">
    <h2 class="signup_title">Cadastre-se Para Começar a Postar</h2>
  </div>
 <form action="/sign-up" method="post" class="signup_form">
    <input type="email" placeholder="E-mail" id="email" class="signup_input">
    <input type="text" placeholder="Nome Completo" id="name" class="signup_input">
    <input type="password" placeholder="Senha" id="password" class="signup_input">
    <input type="password" placeholder="Confirmar Senha" id="confirmPassword" class="signup_input">
    <button class="signup_button">Cadastrar</button>
 </form>
</div>
